body {
    background: #e6e6e6;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #010e80;
    display: table;
    width: 100%;
}

nav li {
    display: table-cell;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h2 a {
    padding: 33px 25px;
    color: white;
    text-decoration: none;
}

h2 a:hover {
    background-color: #111;
}

figcaption {
    text-align: left;
}

header {
    margin-left: 14px;
}

article {
    text-align: left;
    margin: 15px;
    max-width: 80%;
    font-size: 180x;
    line-height: 32px;
}